<!DOCTYPE html>
<html>

<head>
    <title>Hellow</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/css/bootstrap.css">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-3 col-md-3 col-lg-3"></div>
            <div class="col-sm-6 col-md-6 col-lg-6">
                <div class="row">
                    <h3>Tell me where you live and where you work </h3>
                </div>
                <div class="row">
                    <form id="user-form" method="post" action="/results">
                        <div class="form-group">
                            <label for="home_zip">Home Zipcode</label>
                            <input class="form-control" type="number" name="home_zip" id="home_zip" />
                        </div>
                        <div class="form-group">
                            <label for="work_zip">Work Zipcode</label>
                            <input class="form-control" type="number" name="work_zip" id="work_zip" />
                        </div>
                        <div class="form-group">
                            <label for="miles">Miles between home and work</label>
                            <input class="form-control" type="number" name="miles" id="miles" />
                        </div>
                        <div class="form-group">
                            <label for="mpg">Your car's miles per gallon</label>
                            <input class="form-control" type="number" placeholder="miles per gallon" name="mpg" id="mpg" />
                        </div>
                        <h5>Where do you usually purchase gas?</h5>
                        <div class="radio">
                            <label>
                                <input type="radio" name="radio" id="radio1" value="home" checked> Near Home
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="radio" id="radio2" value="work"> Near Work
                            </label>
                        </div>
                        <button  id="button"  class="btn btn-primary" method="post">submit</button>
                    </form>
                </div>
                <div class="row" id="form-output">
                </div>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3"></div>
        </div>
    </div>
    {% if results %} 
    {% block results %}  {% endblock %} 
    {% endif %}

    <script src="static/js/jquery.js"></script>
    <script src="static/js/bootstrap.js"></script>
    <script src="static/js/index.js"></script
</body>

</html>